<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot sample5-7</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/sample5/step9');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        console.log(event.data);
        var fruit_list = JSON.parse(event.data);
        var fruit_table = "";

        for (var i = 0; i < fruit_list.length; i++) {
          var bgn_tr = "<tr>";
          var end_tr = "</tr>";
          var idx = "<td>" + i + "</td>";
          var f_name = "<td>" + fruit_list[i].name + "</td>";
          var f_price = "<td>" + fruit_list[i].price + "</td>";
          var f_proc = "<td>" + "<a href= '/sample5/step8?id=" + fruit_list[i].id + "'>購入</a>" + "</td>";
          fruit_table = fruit_table + bgn_tr + idx + f_name + f_price + f_proc + end_tr;
        }
        console.log(fruit_table);
        var tbody = document.getElementById("fruit_list");
        tbody.innerHTML = fruit_table;

      }
    }

  </script>
</head>

<body>
  <h1> Authorized! <span sec:authentication="name"></span>
  </h1>
  <a href="/logout">ログアウト</a>

  <h2>Online Fruit Shop</h2>

  <div>

    <table border="1">
      <thead>
        <th>Index</th>
        <th>果物</th>
        <th>金額</th>
        <th>処理</th>
      </thead>
      <tbody id="fruit_list">
        <sapn th:if="${fruits7}">
          <tr th:each="fruit,stat:${fruits7}">
            <td>[[${stat.index}]]</td>
            <td>[[${fruit.name}]]</td>
            <td>[[${fruit.price}]]</td>
            <td><a th:href="@{/sample5/step8(id=${fruit.id})}">購入</a></td>
          </tr>
        </sapn>
      </tbody>
    </table>
  </div>
  <div th:if="${fruit8}">
    [[${fruit8.name}]]を[[${fruit8.price}]]で購入しました
  </div>
</body>

</html>
